            body{
                margin: 0;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            .topnav{
                overflow: hidden;
                background-color: lightgrey;
            }
            .topnav a{
                float:left;
                color:rebeccapurple;
                text-align:center;
                padding: 14px 16px;
                text-decoration: none;
                font-size:17px
            }
            .topnav a:hover{
                background-color:orchid;
                color:darkseagreen;
            }
            .topnav a.active{
                background-color: peru;
                color:indigo;
            }